@charset "UTF-8"

article, aside, footer, header, main, nav, section 
{
	display: block
}

html, body, h1, h2, ul, li, a, p,
article, aside, footer, header, main, nav, section 
{
	padding: 0;
	margin: 0;
}
.banner 
{
	background-color: #11233b;
	color: white;
	padding: 10px 20px;
}
body
{
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("Background1.jpg");
	background-repeat" no-repeat;
}
nav 
{
	background-color: #20416c;
	padding: 4px;
	margin-top: 1px;
}
.MatchupList
{
	background-color: #20416c;
	padding: 20px;
	margin-top: 10px;
}
.matchups
{
	color: #a7b9d6;
}
.MULI
{
	display: block;
}
li a
{
	color: silver;
}
li
{
	display: inline;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px;
	font-variant: small-caps;
	font-weight: bold;
}
section 
{
	background-color: #BCBCBC;
	margin-top: 5px;
	padding: 5px;
}
.test01
{
	background-color: #47BD57;
	margin-top: 5px;
	padding: 5px;
}
article
{
	background-color: white;
	margin-top: 5px;
	padding: 10px 15px;
}
.MUCollections
{
	width: 610px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
}
main
{
	width: 640px;
	float: left;
	margin-bottom: 5px;
}
aside
{
	background-color: #bbbbbb;
	width: 270px;
	float: right;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
footer
{
	clear: both;
	background-color: #20416c;
	color: white;
	padding: 5px 20px;
}
.FrameData
{
	font-size: 20px;
	color: white;
}
.FDArticle
{
	background-color: #2f3133;
	margin-top: 5px;
	padding: 10px 15px;
}



.